body {
    background: url(images/background.jpg);
}


#container,#top-container {
    width:960px;
    margin: 0 auto;
}



body nav#top-header {
    background:linear-gradient(0deg, #0f0f0f 0%, #383c40 100%);
    margin: 0 auto;
    height: 52px;
}

label{
    color: #485766;
}

li {
    list-style: none;
}
nav#top-header ul#sns{
    display: inline-block;
    padding:0;
}

nav#top-header ul#sns li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}
nav#top-header #sns {
    float: right;
    padding-right: 77px;
}

a:link,a:visited {
    color: #6a87a3;
    text-decoration: none;
}

#three-column li a:hover {
    text-decoration: underline;
}


#subscribe-logo,#facebook-logo,#mixi-logo {
    width: 16px;
    height: 16px;
    background-size: 100%;
    padding:0 5px 0;
    margin-top: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#subscribe-to {
    color: #485766;
    float: left;
    margin: 0 auto;
    padding: 15px;
    padding-right:0;
}
#top-left {
    width:400px;
    float: left; 
}

nav#top-header div#top-left ul{
    
    width: 250px;
    display: inline-block;
    column-count: 3;
    column-gap: 5px;
    column-rule-color: #6a87a3;
    column-rule-style: solid;
    column-rule-width: 1px;
}

#three-column {
    padding:0;
    text-align: center;
}

#post,#email {
    text-align: center;
    padding: 0;
    margin: 0;
}

form {
    display: inline-block;
}
input[type="search"]{
    width: 193px;
    height: 29px;
    border-radius: 10px;
    text-shadow:0px 10px 10px #38444f;
    font-weight: bolder;
}

#searchbar {
    background-color: rgba(0, 0, 0, 0.5);
    color:#38444f;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    padding-left: 10px;
}

button {
    position: relative;
    background: url(images/Layer-7.png);
    width: 18px;
    height: 18px;
    top: 3px;
    right: 33px;
    border: none;
}

button:hover {
    cursor: pointer;
}

div#header {
    margin: 0 auto;
    width: 950px;
    height: 112px;
    display: inline-block;
}

#header div {
    display: inline-block;
}
#header div#header-menu {
    float: right;
}

#logo {
    background:url('images/logo.png')center center no-repeat;
    width: 275px;
    height: 70px;
    text-indent: -9999px;
}


#header nav ul{
    position: relative;
    top:15px;
    text-align: right;
}

#header nav ul li{
    width: 87px;
    height: 37px;
    text-align: center;
    line-height: 42px;
    display: inline-block;
/*    position: relative;*/
/*    bottom: 20px;*/
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

#header nav ul li:hover {
    background: #14161d;
}

#banner {
    background: white;
    width: 950px;
    height: 339px;
    
}

#banner img{
   padding:9px;
}

#slider {
    width:948px;
    height: 47px;
    background:url(images/Shape-6.png)center center no-repeat;
    
}

#slider-button {
    width: 140px;
    height: 25px;
    margin: 0 auto;
    
}
.rounded-button {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -moz-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -o-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -ms-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: linear-gradient(0deg, #2e3850 0%, #4a556d 100%);
    border-radius: 100%;
    padding: 10px;
    position:relative;
    left:13px;
}

.rounded-button:hover {
    background: -webkit-linear-gradient(90deg, #297baa 0%, #5db4dc 100%);
    background: -moz-linear-gradient(90deg, #297baa 0%, #5db4dc 100%);
    background: -o-linear-gradient(90deg, #297baa 0%, #5db4dc 100%);
    background: -ms-linear-gradient(90deg, #297baa 0%, #5db4dc 100%);
    background: linear-gradient(0deg, #297baa 0%, #5db4dc 100%);
}

#middle-container {
    width: 950px;
    height: 409px;
    column-count: 3;
    margin: 0 auto;
}

.content {
    width: 289px;
    height: 369px;
    background-color: rgba(24, 27, 36, 0.51);
    margin:0 auto;
}


.subtitle {
    width: 289px;
    height: 46px;
    background: -webkit-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -moz-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -olinear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: -ms-linear-gradient(90deg, #2e3850 0%, #4a556d 100%);
    background: linear-gradient(0deg, #2e3850 0%, #4a556d 100%);
    padding:0;
}

.subtitle img {
    width: 24px;
    height: 21px;
    position: relative;
    top:12px;
    left:11px;
    z-index: 4;
}

div.subtitle button {
    width: 289px;
    height: 45px;
    font-size: 20px;
    font-family: Arial;
    display: inline-block;
    color:white;
    font-weight: bold;
    position: relative;
    top:-20px;
    left:-0px;
    background: linear-gradient(0deg, #2e3850 0%, #4a556d 100%);
}

.contents {
    width: 289px;
    height: 323px;
    background-color: #181b24;
    
}

#contact {
    width: 289px;
    height: 233px;
    background:#181b24;
}

#sns-2 {
    background: #181b24;
    width: 289px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top:240px;
    left: 0;
}

#sns-2 a {
    margin: 0 auto;
    padding: 5px;
    position: relative;
    top: 25px;
    left:15px;
}

#footer {
    
    background: #0f131f;
    width: 100%;
    height: 275px;
    margin: 0 auto;
    
}

#links {
    margin: 0 auto;
    height: 275px;
    width: 100%;
}

#footer div div {
    display: block;
    float: left;
    width: 230px;
    height: 200px;
    position: relative;
    top: 40px;
}


#footer div h1 {
    text-align: center;
    font-size: 22px;
    color:#8c95ac;
    width: 230px;
    margin: 10px;
    
}

#footer div a {
    position: relative;
    left: 20px;
}

#gallery {
    padding: 0;
    column-count: 4;
    column-gap: 1px;
    position: relative;
    top:10px;
}


#twitterupdate h1 img{
    position: relative;
    top: 14px;
}

#twitterupdate {
    position: relative;
    left: 15px;
}

footer {
    width: 100%;
    height: 60px;
    position: relative;
    background: #040507;
    bottom: 10px;

    
}

footer p#copyright {
    color:#6a7796;
    width: 450px;
    height: 11px;
    position: absolute;
    top:10px;
    left: 150px;
}

footer ul {
    float:right;
    column-count: 5;
    column-rule-color: #6a87a3;
    column-rule-style: solid;
    column-rule-width: 1px;
}

footer ul li {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}